```
# Docker related
.dockerenv
Dockerfile.local
docker-compose.override.yml
docker-compose.prod.yml

# Environment variables
.env
.env.local
.env.*

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~
```